/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  text-decoration: none;
  box-sizing: border-box;
}
.wrap {
  background: #fafafa;
}

.header {
  background-image: url(../assets/img-headerShape.png);
  width: 1024px;
  margin: 0 auto;
  display: flex;
  height: 399px;
  font-family: sans-serif;
}

.hleft {
  padding-top: 150px;
  padding-left: 200px;
}
.hleft h1 {
  font-size: 50px;
  padding-top: 15px;
}
.hleft p {
  color: gray;
  text-align: center;
  padding: 5px;
}
.hright {
  padding-top: 150px;
  padding-left: 150px;
}
.hright li {
  color: #fafafa;
  font-size: 24px;
  padding-bottom: 10px;
  line-height: 40px;
}
.hright img {
  padding-right: 10px;
}

.skill {
  width: 1024px;
  margin: 0 auto;
  font-family: sans-serif;
}
.list ul {
  display: flex;
  justify-content: space-around;
}
.skill h2 {
  text-align: center;
  margin-top: 150px;
  font-size: 26px;
  color: blue;
  margin-bottom: 50px;
  font-weight: bold;
}
.list1,
.list2,
.list3 {
  text-align: center;
  width: 300px;
  height: 360px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 1px 5px#a7a7a7;
  color: gray;
  padding-top: 40px;
}
.list1 p,
.list2 p,
.list3 p {
  font-size: 24px;
  margin: 30px;
}
.list1 ul,
.list2 ul,
.list3 ul {
  flex-direction: column;
  text-align: left;
  list-style: disc;
  padding-left: 60px;
  font-size: 12px;
}
.list1 li,
.list2 li,
.list3 li {
  margin-bottom: 10px;
}
.list1 {
  border-bottom: 10px solid rgb(255, 125, 18);
}
.list2 {
  border-bottom: 10px solid rgb(69, 177, 74);
}
.list3 {
  border-bottom: 10px solid rgb(89, 69, 177);
}
.list1:hover,
.list2:hover,
.list3:hover {
  box-shadow: 5px 15px 15px #a7a7a7;
}
.exp {
  width: 1024px;
  margin: 0 auto;
  font-family: sans-serif;
  position: relative;
}
.exp h3 {
  text-align: center;
  margin-top: 100px;
  font-size: 26px;
  color: blue;
  margin-bottom: 50px;
  font-weight: bold;
}
.leftline,
.rightline {
  height: 600px;
  width: 20px;
  border-bottom: 5px solid #d8d8d8;
}
.leftline {
  border-right: 1px solid #d8d8d8;
}
.line {
  display: flex;
  margin-left: 500px;
  position: relative;
}
.leftline img {
  position: absolute;
  left: 4px;
}
.leftline .point1 {
  position: absolute;
  left: 8px;
  top: 100px;
}
.leftline .point2 {
  position: absolute;
  left: 8px;
  top: 250px;
}
.leftline .point3 {
  position: absolute;
  left: 8px;
  top: 400px;
}
.box1 {
  position: absolute;
  top: 175px;
  left: 550px;
}
.box2 {
  position: absolute;
  top: 325px;
  left: 188px;
}
.box3 {
  position: absolute;
  top: 475px;
  left: 550px;
}
.box1,
.box2,
.box3 {
  padding: 15px;
  border-radius: 10px;
  width: 300px;
  border: 1px solid #fb56bf;
}
.box2 {
  text-align: right;
}
.box1 h4,
.box2 h4,
.box3 h4 {
  color: #8a1837;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
}
.box1 h5,
.box2 h5,
.box3 h5 {
  color: gray;
  margin-top: 15px;
  margin-bottom: 10px;
}
.box1 p,
.box2 p,
.box3 p {
  color: rgb(185, 185, 185);
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.5;
}
.work {
  width: 1024px;
  margin: 0 auto;
  font-family: sans-serif;
}
.work h3 {
  text-align: center;
  margin-top: 60px;
  font-size: 26px;
  color: #fb56bf;
  font-weight: bold;
  margin-bottom: 50px;
}
.title ul {
  display: flex;
  justify-content: space-around;
  padding-left: 30px;
  padding-right: 30px;
}
.title1,
.title2,
.title3 {
  width: 298px;
  border-radius: 5px;
}
.title1:hover,
.title2:hover,
.title3:hover {
  box-shadow: 2px 5px 5px #a7a7a7;
}
.title1 {
  background: #fdb4e3;
}
.title1 img {
  padding-top: 40px;
  padding-left: 90px;
}
.title2 img {
  margin-top: 40px;
  margin-left: 110px;
  margin-bottom: 35px;
}
.title3 img {
  margin-top: 40px;
  margin-left: 110px;
  margin-bottom: 35px;
}

.title1 h4,
.title2 h4,
.title3 h4 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: bold;
  background: #ffffff;
}
.title1 p,
.title2 p,
.title3 p {
  padding-bottom: 10px;
  padding-left: 10px;
  color: gray;
  background: #ffffff;
}
.title2 {
  background: #424242;
}

.title3 {
  background: #8ad7fa;
}
.about {
  width: 1024px;
  margin: 0 auto;
  font-family: sans-serif;
}
.about h3 {
  text-align: center;
  margin-top: 60px;
  font-size: 26px;
  color: #fb56bf;
  font-weight: bold;
  margin-bottom: 50px;
}
.about img {
  float: left;
  margin-left: 150px;
  margin-top: 40px;
}
.about .content {
  float: right;
  width: 500px;
  margin-right: 100px;
  margin-top: 40px;
}
.about p {
  margin-bottom: 20px;
}
.intro {
  width: 1024px;
  height: 350px;
}
.footer {
  width: 1024px;
  height: 100px;
  text-align: center;
  background-image: url(../assets/img-Looper-bg.png);
  margin: 0 auto;
}
.footer p {
  padding-top: 40px;
  font-family: sans-serif;
}
