/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  text-decoration: none;
}

.header {
  width: 1000px;
  font-size: 14px;
  margin: 0 auto;
}

.wrap {
  width: 1024px;
  margin: 0 auto;
}
.top {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 23px;
}
.top ul {
  display: flex;
  padding: 5px;
  align-items: center;
}

.fb {
  color: #4460a0;
  margin-right: 10px;
}
.top a:hover {
  opacity: 0.5;
}

.tt {
  color: #00aaec;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 1000px;
  margin: 0 auto;
}
.title h1 a {
  background-image: url(https://upload.cc/i1/2021/07/02/kCSdir.png);
  display: block;
  width: 200px;
  height: 55px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
.title h1 a:hover {
  opacity: 0.5;
}

.title ul {
  display: flex;
}

.title ul a {
  color: #00cc99;
  font-weight: bold;
  margin-left: 20px;
  display: block;
  padding: 15px 13px 15px;
  border-bottom: 4px solid transparent;
}

.title ul a:hover {
  border-bottom: 4px solid #00cc99;
}

.flexlist {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  justify-content: center;
}

.menu li a {
  display: block;
  color: black;
  text-align: center;
}
.item {
  padding: 15px;
  width: 300px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 1px 4px 4px #dddddd;
}
.item:hover {
  box-shadow: 0px 5px 5px grey;
}

.menu h4 {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin: 10px;
}
.menu p {
  font-size: 15px;
  text-align: left;
  line-height: 1.5;
}
.menu li {
  margin: 5px;
  text-align: left;
}

.html {
  margin-top: 10px;
}
.rwd {
  margin-top: 30px;
  margin-bottom: 30px;
}
.jq {
  margin-top: 15px;
  margin-bottom: 15px;
}

.banner {
  background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png);
  width: 1000px;
  height: 340px;
  margin: 0 auto;
  display: flex;
}
.text {
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.5);
  width: 1000px;
  height: 160px;
  margin-top: 95px;
  padding-left: 20px;
}
.banner .text h2 {
  color: white;
  font-size: 40px;
  padding-top: 20px;
}
.compare h3 {
  text-align: center;
  padding: 23px;
  font-size: 23pt;
  margin-top: 20px;
}

.table {
  margin: 0 auto;
  width: 840px;
  margin-bottom: 60px;
}
.table th,
.table td {
  border-top: 1px solid #dddddd;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  font-size: 15px;
}
.table th {
  font-weight: bold;
  background: #f7f7f7;
}
.table td span {
  color: #42b392;
}

.form {
  background-image: linear-gradient(#00644b, #009872);
  color: white;
  width: 1000px;
  margin: 0 auto;
}
.form h5 {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  padding: 30px;
}

.formform {
  display: flex;
  padding-bottom: 20px;
}

.formleft {
  margin-left: 30px;
  margin-right: 45px;
}

.formright input {
  width: 440px;
  height: 32px;
  margin-bottom: 15px;
}

.formright label {
  font-size: 14px;
  display: block;
  padding-bottom: 5px;
}

.formright .button {
  width: 70px;
  font-size: 15px;
  float: right;
  margin-right: 27px;
  background: #00cc99;
  color: white;
  cursor: pointer;
}

.formright .button:hover {
  opacity: 0.5;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.right p {
  font-size: 18px;
  margin-bottom: 10px;
}
.right span {
  color: #e12d80;
}
.right span:hover {
  opacity: 0.5;
}
