/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    outline:1px solid gray;
    text-decoration: none;
}

.top{
	background-color: #f6f6f6;
	display: flex;
	flex-direction: row-reverse;
	margin-top: 23px;
	margin-left: 23px;
	margin-right: 23px;
}
.top ul{
	display: flex;
	padding: 5px;	
	align-items: center;
}

.fb {
	color:#4460a0;
	margin-right: 10px;
}
.top a:hover{
	opacity: 0.5;
}

.tt{
	color:#00aaec;
}

.title{
	display: flex;
	justify-content:space-between;
	padding-right: 23px;
	padding-left: 23px;
	align-items: center;
	height: 50px;
}
.title h1 a{
	background-image: url(../img/img/logo.png);
	display: block;
	width: 180px;
	height: 45px;
	text-indent: 101%;
 overflow: hidden;
 white-space: nowrap;
}
.title ul{
	display: flex;
}
.title ul a{
	color: #00cc99;
	font-weight: bold;
	margin-left: 50px;
	display: block;
padding: 15px 13px 18px;
}

.title ul a:hover{
	border-bottom: 4px solid #00cc99;
